<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link <%= url == '/' ? 'active' : '' %>" href="/api/admin">
              <span data-feather="shopping-cart"></span>
              انالیز سایت
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link <%= url == '/oilChanger' ? 'active' : '' %>"
              href="/api/admin/oilChanger"
            >
              <span data-feather="file"></span>
              تعویض روغنی
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link <%= url == '/users' ? 'active' : '' %>"
              href="/api/admin/users"
            >
              <span data-feather="users"></span>
              کاربران
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>نام</th>
        <th>شماره تلفن</th>
        <th>نام مغازه</th>
        <th>شماره تلفن مغازه</th>
        <th>نام آدرس مغازه</th>
        <th>وضعیت</th>
        <th>تظیمات</th>
      </tr>
    </thead>
    <tbody>
      <% let num = 1 %> <% users.docs.forEach(user => { %>
      <tr>
        <td><%= num %></td>
        <td><%= user.firstName %> <%= user.lastName %></td>
        <td><%= user.phone %></td>
        <td><%= user.oilChanger.name %></td>
        <td><%= user.oilChanger.phone %></td>
        <td><%= user.oilChanger.address %></td>
        <td>
          <a
            style="color: white"
            class="<%= (user.isOilChanger) ? "btn btn-success" : "btn btn-warning" %>"
            ><%= (user.isOilChanger) ? " تایید شده": " درحال بررسی " %>
          </a>
        </td>
        <td>
          <a href="/api/admin/oilChanger/<%= user.id %>" class="btn btn-warning">
            اطلاعات
          </a>
        </td>
      </tr>
      <% num++ }); %>
    </tbody>
  </table>
</div>

<script
  src="../js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
<script src="../js/dashboard.js"></script>
